# Unit 5 Anthropology - Final Project

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Exploring the AMNH collections database for mocassins and reporting their color combinations. 

Create at least two functions to find the following using Claire Heckel's moccasin data:
1. How many color combinations are used on moccasins? How many moccasins have a combination of 3 colors?
2. Which color combinations occur most often in our moccasins data (min/max)?
3. What are the three most common pairs of motifs on moccasins? What are the least common?

In [ ]:
import pandas as pd
df_moccasin = pd.read_csv("/content/drive/MyDrive/ClairesMoccasinData - Data.csv")

In [ ]:
df_color_2 = pd.read_csv("/content/drive/MyDrive/2_color_combos.txt")
df_color_3 = pd.read_csv("/content/drive/MyDrive/3_color_combos.txt")
df_color_4 = pd.read_csv("/content/drive/MyDrive/4_color_combos.txt")
df_color_5 = pd.read_csv("/content/drive/MyDrive/5_color_combos.txt")

In [ ]:
def colorcombos():
  [e for i, e in enumerate(df_color_3) if i in indexes]

In [ ]:
len(df_color_3)

6544

In [ ]:
#How many color combinations are used on moccasins?
color_columns = df_moccasin.iloc[:,20: 55] #Create a new variable called color_columns to isolate the columns representing colors. Use .iloc[] attribute to add all of the rows and colums 20 through 54 from the dataframe to the new dataset.
color_columns["Number of Color Combinations"] = 0 #Add a new column named "Number of Color Combinations" to color_columns.
color_columns["Color Combinations"] = 0 #Add a new column named "Color Combinations" to color_columns.
colors = color_columns.columns #Set the columns of the color_columns dataset to the variable color.
color_columns["Number of Color Combinations"] = color_columns["Number of Color Combinations"].astype("object") #Use the .astype method to convert the "Number of Color Combinations" column into an object.
for index, row in color_columns.iterrows(): #Create a for loop that iterates through the indices and rows in color_columns.
  num_color_combos = 0 #Create a new variable to store the number of color combinations.
  for i in colors: #Create a nested for loop that iterates through the columns in color_columns.
    if row.loc[i] == 1: #If a row contains the number 1,
      num_color_combos += 1 #Add it to num_color_combos.
  color_columns.at[index, "Number of Color Combinations"] = num_color_combos #Use .at[] which is similar to .loc[] yo add the number stored in the num_color_combos variable to the "Number of Color Combinations" column.

In [ ]:
color_columns['TR_CRYSTAL']

0      0
1      0
2      0
3      0
4      0
      ..
436    1
437    0
438    0
439    0
440    0
Name: TR_CRYSTAL, Length: 441, dtype: int64

In [ ]:
#How many moccasins have a combination of 3 colors?
counter = 0 #Create an empty variable named counter.
for i in color_columns["Number of Color Combinations"]: #Refer to the column, "Number of Color Combinations".
  if i == 3: #If a value in that column is equal to 3,
    counter += 1 #Add it to counter.
print(counter, "moccasins have a combination of 3 colors.") #Print the value of the counter in a complete sentence.

52 moccasins have a combination of 3 colors.

In [ ]:
#Motif dataset
motif_columns = df_moccasin.iloc[:,55: 90] #Create a new variable called motif_columns to isolate the columns representing motifs. Use .iloc[] attribute to add all of the rows and colums 55 through 89 from the dataframe to the new dataset.
motif_columns["Number of Motif Combinations"] = 0 #Add a new column named "Number of Motif Combinations" to motif_columns.
motifs = motif_columns.columns #Set the columns of the motif_columns dataset to the variable motifs.
motif_columns["Number of Motif Combinations"] = motif_columns["Number of Motif Combinations"].astype("object") #Use the .astype method to convert the "Number of Motif Combinations" column into an object.
for index, row in motif_columns.iterrows(): #Create a for loop that iterates through the indices and rows in motif_columns.
  num_motif_combos = 0 #Create a new variable to store the number of motif combinations.
  for i in motifs: #Create a nested for loop that iterates through the columns in motif_columns.
    if row.loc[i] == 1: #If a row contains the number 1,
      num_motif_combos += 1 #Add it to num_motif_combos.
  motif_columns.at[index, "Number of Motif Combinations"] = num_motif_combos #Use .at[] which is similar to .loc[] to add the number stored in the num_motif_combos variable to the "Number of Motif Combinations" column.

In [ ]:
#use the link that miss carol put in slack to figure out if our data/results is correct

In [ ]:
motif_columns[0]

     MOTIF_ANTELOPEHOOF  ...  Number of Motif Combinations
0                     0  ...                             7
1                     0  ...                             6
2                     0  ...                             1
3                     0  ...                             5
4                     0  ...                             5
..                  ...  ...                           ...
436                   0  ...                             0
437                   0  ...                             0
438                   0  ...                             1
439                   0  ...                             0
440                   0  ...                             5

[441 rows x 36 columns]

In [ ]:
#How many moccasins have a combination of 3 colors?
counter = 0 #Create an empty variable named counter.
for i in motif_columns["Number of Motif Combinations"]: #Refer to the column, "Number of Color Combinations".
  if i == 2: #If a value in that column is equal to 3,
    counter += 1 #Add it to counter.
print(counter) #Print the value of the counter in a complete sentence.

94

In [ ]:
df_moccasin['WHITE']

0      1
1      1
2      0
3      1
4      1
      ..
436    0
437    1
438    1
439    1
440    1
Name: WHITE, Length: 441, dtype: int64

In [ ]:
for i in motif_columns:
  if i is += 1

In [ ]:
#How many moccasins have a combination of 3 colors?
def moccasin_counter(columns):
  counter = 0 #Create an empty variable named counter.
  for i in columns["Number of Motif Combinations"]: #Refer to the column, "Number of Color Combinations".
    if i == 2: #If a value in that column is equal to 3,
      counter += 1 #Add it to counter.
  print(counter) #Print the value of the counter in a complete sentence.

moccasin_counter(motif_columns)

94